html {
  padding: 10px;
}

body {
  background-color: black;
  color: white;
  margin: auto;
  max-width: 800px;
  text-align: center;
  width: 100%;
}

h1 {
  margin: 0;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 30px 15px;
}

header a {
  font-size: 24px;
  text-decoration: none;
}

header div {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #282f41;
  border-color: rgba(231, 159, 159, 0.3);
  color: whitesmoke;
  font-size: 20px;
  padding: 10px;
}

section {
  background-color: #282f41;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
}

textarea {
  background-color: #282f41;
  border: none;
  color: whitesmoke;
  height: 200px;
  padding: 20px;
  white-space: pre-wrap;
  width: 100%;
}

.copyright {
  margin: 0;
  color:#fa92e081
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.pulsate-css {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite; 
  opacity: 0.0;
}